<!DOCTYPE html>
<html lang="en" ng-app="about" ng-controller="aboutController">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, minimum-scale=1.0">
        <meta name="description" content="Anonymous chat application">
        <meta name="author" content="varunon9">
        <title>About| Alley - Anonymous chat application</title>
        <link rel="shortcut icon" href="images/logo.png">
        <link rel="stylesheet" href="/bower_components/material-design-lite/material.min.css">
        <link rel="stylesheet" href="css/about.css">
        <!--<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">-->
    </head>
    <body>
        <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
            <header class="mdl-layout__header">
                 <div class="mdl-layout__header-row">      
                    <span class="mdl-layout-title">Alley</span>          
                 </div>       
            </header>
            <div class="mdl-layout__drawer">
                <span class="mdl-layout-title">Currently Online ({{ onlineUsers }})</span>
                <nav class="mdl-navigation">
                    <a class="mdl-navigation__link" href="/">Home</a>
                    <a class="mdl-navigation__link" href="/signup">Login</a>  
                </nav>
            </div>
        </div>
        <div ng-view class="pageAnimation" autoscroll="true">
        </div>
        <script src="/bower_components/angular/angular.js"></script>
        <script src="/angular/constants.js"></script>
        <script src="/bower_components/material-design-lite/material.min.js"></script>
        <script src="/angular/about.js"></script>
    </body>
</html>
