<md-content id="about">
    <h2>Hi,</h2>
    <h3>
        Alley is a platform for anonymous chatting to users all over the globe. Users can chat, send emojis and share files.
    </h3>
    <h4>How to use?</h4>
    <div class="steps">
        <h5>Step 1</h5>
        <p>Signup <a href="#signup">here</a> by choosing a unique username and providing your gender and age.</p>
    </div>
    <div class="steps">
        <h5>Step 2</h5>
        <p>Click on the menu button and choose users to whom you want to chat.</p>
        <p>Those users will be added to your chat list.</p>
    </div>
    <div class="steps">
        <h5>Step 3</h5>
        <p>Click on the users from your chat list.</p>
        <p>Happ Chatting!</p>
    </div>
    <div id="disclaimer">
        <h4>
            Avoid sharing your personal details to other users. It might cause you trouble.
        </h4>
        <p>
            We do not store any information of users (except signup details). Neither messages nor files are saved.
        </p>
        <p>
            To report an issue or to provide feedback or query, contact <b>Varunon9@gmail.com</b>
        </p>
    </div>
</md-content>