<!DOCTYPE html>
<html lang="en" ng-app="mainApp">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, minimum-scale=1.0">
        <meta name="description" content="Anonymous chat application">
        <meta name="author" content="varunon9">
        <title>Alley - Anonymous chat application</title>
        <link rel="shortcut icon" href="images/logo.png">
        <link rel="stylesheet" href="/bower_components/material-design-lite/material.min.css">
        <link rel="stylesheet" href="css/main.css">
        <!--<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">-->
    </head>
    <body>
        <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
            <header class="mdl-layout__header">
                 <div class="mdl-layout__header-row">      
                    <span class="mdl-layout-title">Hi <%= username %>!</span> 
                    <span class="mdl-layout-title" style="margin-left: 80%;">
                        <a href="/logout">Logout</a>
                    </span>          
                 </div>       
            </header>
            <div class="mdl-layout__drawer" ng-controller="navigationController">
                <span>Currently Online ({{ onlineUsers.length - 1 }})</span>
                <nav class="mdl-navigation">
                    <!-- <a class="mdl-navigation__link" href="">Home</a>
                    <a class="mdl-navigation__link" href="">About</a>  --> 
                    <div ng-repeat="users in onlineUsers">
                        <div class="onlineUsers" ng-if="username != users.username">
                            {{ users.username }} &nbsp;&nbsp;&nbsp; {{ users.gender }}
                            &nbsp;&nbsp;&nbsp; {{ users.age }} <br>
                            <button class="mdl-button mdl-js-button mdl-button--primary"
                            ng-click="connect($index)">
                                <i class="material-icons">message</i>
                            </button>
                        </div>
                    </div>
                </nav>
            </div>
            <div class="mdl-layout__content">
                <div class="mdl-tabs mdl-js-tabs">
                    <div class="mdl-tabs__tab-bar">
                       <a href="#alleyBoat" class="mdl-tabs__tab is-active">alleyBoat</a>
                    </div>
                    <div class="mdl-tabs__panel is-active" id="alleyBoat">
                       <p>You are chatting with alleyBoat</p>
                    </div>
                </div>
            </div>
        </div>
        <script src="/bower_components/angular/angular.js"></script>
        <script src="/bower_components/angular-route/angular-route.min.js"></script>
        <script src="/bower_components/material-design-lite/material.min.js"></script>
        <script src="/js/socket.io.js"></script>
        <script src="/angular/constants.js"></script>
        <script src="/angular/navigation.js"></script>
        <script src="/angular/mainApp/mainApp.js"></script>
        <script src="/angular/mainApp/homeController.js"></script>
    </body>
</html>
