<!DOCTYPE html>
<html lang="en" ng-app="mainApp">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, height=device-height,  initial-scale=1.0, user-scalable=no;user-scalable=0;"/>
        <meta name="description" content="Anonymous chat application">
        <meta name="keywords" content="Anonymous chatting| Random chatting| Alley| Online chatting to strangers">
        <meta name="robots" content="index, follow" />
        <meta name="author" content="varunon9">
        <title>Alley - Anonymous chat application</title>
        <link rel="stylesheet" href="/bower_components/angular-material/angular-material.min.css">
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    </head>
    <body>
        <div layout="column" style="height: 100%;">
            <div ng-controller="navigationController" ng-cloak id="navigation">
                <md-toolbar class="md-primary">
                    <div class="md-toolbar-tools">
                        <div class="logoAndMenu">
                            <i class="material-icons" ng-click="toggleSidenav();">
                                dehaze
                            </i>
                            <span><a href="#about">Alley</a></span>
                        </div>
                        <div class="greeting">
                            Welcome {{user.username}} !
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <span ng-if="user.username != 'Guest'">
                                <a href="" ng-click="logout()">Logout</a>
                            </span>
                        </div>
                    </div>
                </md-toolbar>
                <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="leftSidenav">
                    <md-toolbar class="md-theme-light">
                        <h1 class="md-toolbar-tools">Currently Online ({{onlineUsers.length}})</h1>
                    </md-toolbar>
                    <md-content>
                        <div style="border-bottom: 1px solid #3f51b5; padding-left: 5%;">
                            <i class="material-icons" style="vertical-align: text-top;">search</i>
                            <input ng-model="searchInput" type="text" placeholder="search users" style="border: none;">
                        </div>
                        <md-list layout="column">
                            <md-list-item class="md-2-line" ng-repeat="onlineUser in onlineUsers | filter: searchInput " ng-click="chatToOnlineUser(onlineUser)">
                                <img ng-src="{{onlineUser.gender == 'male' && 'images/male.svg' || 'images/female.svg'}}"
                                     class="md-avatar" alt="{{onlineUser.username}}">
                                <div class="md-list-item-text">
                                    <h3>{{onlineUser.username}}</h3>
                                    <h4>{{onlineUser.gender}} {{onlineUser.age}}</h4>
                                </div>
                            </md-list-item>
                        </md-list>
                    </md-content>
                </md-sidenav>
            </div>
            <md-content flex ng-view ng-cloak style="height:100%; width: 100%;">
            </md-content>
        </div>
        <script src="/bower_components/angular/angular.js"></script>
        <script src="/bower_components/angular-route/angular-route.min.js"></script>
        <script src="/bower_components/angular-material/angular-material.min.js"></script>
        <script src="/bower_components/angular-animate/angular-animate.min.js"></script>
        <script src="/bower_components/angular-aria/angular-aria.min.js"></script>
        <script src="/js/socket.io.js"></script>
        <script src="/angular/config/utils.js"></script>
        <script src="/angular/controllers/navigation.js"></script>
        <script src="/angular/controllers/signup.js"></script>
        <script src="/angular/mainApp.js"></script>
    </body>
</html>
