<div id="signupForm">
    <h2>Please signup</h2>
    <form ng-submit="userSignup()" layout="column">
        <md-input-container class="md-block" flex-gt-sm>
            <label>Enter your username (minimum 6 length)</label>
            <input ng-model="signupUser.username" autofocus required minlength="6" type="text">
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
            <label>What's your age </label>
            <input ng-model="signupUser.age" required min="10" max="100" type="number">
        </md-input-container>
        <md-radio-group ng-model="signupUser.gender" class="md-primary" layout="row">
            <md-radio-button value="male">Male</md-radio-button>
            <md-radio-button value="female">Female</md-radio-button>
        </md-radio-group>
        <md-button class="md-raised md-primary" ng-disabled="disableSubmitButton" type="button" ng-click="userSignup()">
            <span ng-if="!disableSubmitButton">Submit</span>
            <span ng-if="disableSubmitButton">Processing...</span>
        </md-button>
    </form>
</div>