html {
	height: 100%;
}
body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}
.floatRight {
	float: right;
}
body a {
	color: inherit;
	text-decoration: none;
}
.mdl-layout__drawer {
	padding: 1em;
}
.onlineUsers button {
	/*margin-top: 1em;*/
}