html {
	height: 100%;
}
body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: "Helvetica", "Arial", sans-serif;
    font-size: 1em;
}
.floatRight {
	float: right;
}
body a {
	color: inherit;
	text-decoration: none;
}
a:active, a:focus {
    outline: none;
}
md-content, body, md-sidenav {
	background: #eeeeee;
}
md-sidenav input[type="text"] {
	margin: 5% 5% 5% 0;
	width: 80%;
	font-size: 96%;
	background: #eeeeee;
}
md-sidenav input[type="text"]:focus {
	outline: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

/*navigation*/
i {
	cursor: pointer;
}
i:focus {
	outline: none;
}
.logoAndMenu {
	position: absolute;
	top: 20%;
	left: 3%;
}
.logoAndMenu span {
	vertical-align: super;
	margin-left: 20px;
}
.greeting {
	position: absolute;
	top: 24%;
	right: 5%;
}

/*signup*/
header a {
	text-decoration: none;
	color: inherit;
}
#signupForm {
	width: 30%;
	margin-left: 35%;
	text-align: center;
}
#signupForm md-input-container {
	margin: 5px 0;
}
#signupForm .md-button {
	margin: 20px 0;
}
.block {
	display: block;
}
#signupForm h2 {
	color: #37474F;
}

/*chat*/
#chat {
    width: 99%;
    height: 92%;
    overflow: hidden;
}
#chatList {
    position: relative;
	width: 20%;
	float: left;
	margin: 0;
    height: 100%;
    border-right: 1px solid silver;
}
#hiddenListIcon {
    display: none;
    padding: 2px;
}
#chatBox {
    position: relative;
	width: 79%;
	float: right;
	margin: 0;
    height: 100%;
    overflow: hidden;
}
#chatList md-list {
	padding: 0;
}
.md-subheader {
    background: #eee !important;
}
.md-subheader h3 {
    padding: 0;
    margin: 0;
    font-size: 1.3em;
    text-align: center;
}
#typeHere {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 98%;
    border: 1px solid silver;
    height: 9%;
}
.emojiLeft, .emojiRight, .typeForm {
    position: absolute;
    top: 0;
    height: 100%;
}
.emojiLeft, .emojiRight {
    width: 6%;
}
.emojiLeft:focus, .emojiRight:focus {
    outline: none;
}
.emojiLeft {
    left: 2%;
}
.emojiRight {
    right: 0;
}
.typeForm {
    left: 6%;
    width: 88%;
    height: 96%;
    display: inline;
}
.typeForm form {
    margin: 0 1% 0 1%;
    width: 98%;
    height: 100%;
}
#typeHere i {
    margin-top: 13px;
}
#typeHere input[type="text"] {
    width: 100%;
    height: 100%;
    background: #eee;
}
#typeHere input[type="text"]:focus {
    outline: none;
}
#username {
    text-align: center;
    width: 100%;
    position: relative;
}
#chatMessages {
    position: absolute;
    top: 3%;
    left: 0;
    width: 100%;
    height: 85%;
    overflow-Y: scroll;
    overflow-X: hidden;
}
.userUnderChat {
    background: silver;
}
#chatMessages p {
    padding: 15px;
    border-radius: 2px;
    position: relative;
    margin-left: 2%;
    margin-right: 2%;
}
.client {
    float: left;
    clear: both;
    background: #ccc;
}
.client::before {
    position: absolute;
    left: -10px;
    top: 0;
    width: 0;
    border: 20px solid;
    border-color: #ccc transparent transparent;
    height: 0px;
    content: '';
}
.server {
    float: right;
    clear: both;
    background: #cca;
}
.server::after {
    position: absolute;
    right: -10px;
    top: 0;
    width: 0;
    border: 20px solid;
    height: 0px;
    content: '';
    border-color: #cca transparent transparent;
}
.time {
    color: #3f51b5;
    display: block;
    margin-top: 5px;
    font-size: 0.8em;
}
.disconnect {
    clear: both;
    color: #F44336;
}
.md-list-item-text h4 span {
    color: #f44336;
    font-weight: bold;
    font-size: 1.1em;
}
#crossSpan, #crossSpanHidden {
    color: #3F51B5;
    position: absolute;
    right: 2%;
    z-index:10;
}
#crossSpan:hover, #crossSpanHidden:hover {
    color: #f44336;
}
.list-item span i {
    background: white;
    border-radius: 50%;
}

/*about*/
#about {
    color: #37474F;
    padding-left: 3%;
}
#about a {
    color: #3f51b5;
}

/*emoticons*/
#emoticonsDialog {
    position: fixed;
    top: 50%;
    left: 20.7%;
    width: 33%;
    height: 30%;
    padding: 1%;
    background: silver;
    overflow: hidden;
}
#emoticonsDialog i {
    float: right;
    color: #3f51b5;
    margin-bottom: 2%;
    background: white;
    border-radius: 50%;
}
#emoticonsDialog i:hover {
    color: #37474F;
}
#emojiContainer {
    width: 100%;
    clear: both;
    text-align: justify;
    word-wrap: break-word;
}
#emojiContainer span {
    margin: 1%;
    font-size: 1.5em;
    color: #3f51b5;
    cursor: pointer;
}
#emojiContainer span:hover {
    color: #37474F;
}
#emojiContainer span:focus {
    outline: none;
}
/*media query*/
@media (max-width: 425px) {
    body {
        font-size: .8em;
    }
    #chatMessages p {
        padding: 5px;
        margin-left: 4%;
        margin-right: 4%;
    }
    .server::after {
        border: 10px solid;
        border-color: #cca transparent transparent;
    }
    .client::before {
        border: 10px solid;
        border-color: #ccc transparent transparent;
    }
    .md-toolbar-tools {
        font-size: 12px;
    }
    .logoAndMenu span {
        position: absolute;
        top: 3px;
        right: -41px;
    }
    .md-list-item-text h4{
        font-size: 12px !important;
    }
    .md-list-item-text h3{
        font-size: 14px !important;
    }
    #navigation md-list-item {
        height: 55px !important;
        min-height: 55px !important;
    }
    .md-avatar {
        width: 37px !important;
        height: 37px !important;
    }
    .md-subheader h3 {
        font-size: .9em;
    }
    #signupForm {
        width: 80%;
        margin-left: 10%;
    }
    /*hidden side nav  */
    #hiddenListIcon {
        display: block;
    }
    #chatList md-list {
        display: none;
    }
    #chatList {
        width: 9%;
    }
    #chatBox {
        width: 90%;
    }
    .emojiLeft {
        left: 0;
    }
    .emojiLeft, .emojiRight {
        width: 10%;
    }
    .typeForm {
        left: 10%;
        width: 80%;
    }
    #typeHere i {
        margin-top: 6px;
    }
    .typeForm form {
        height: 90%;
    }
    #emoticonsDialog {
        top: 47%;
        left: 10%;
        width: 78%;
        height: 30%;
    }
}
@media (max-width: 375px) {
    body {
        font-size: .7em;
    }
    #chat {
        height: 85%;
    }
    #chatMessages p {
        margin-right: 6%;
    }
}
@media (max-width: 320px) {
    body {
        font-size: .6em;
    }
}